@font-face {
  font-family: 'CustomFont1';
  src: url('http://localhost:5173/numberGame/Font/DFYuanW7-GB2312 #5881.ttf') format('truetype');
  /* 添加其他字体格式和路径，以便在不同浏览器和设备上兼容 */
}

@font-face {
  font-family: 'CustomFont2';
  src: url('http://localhost:5173/numberGame/Font/Arial.ttf') format('truetype');
  /* 添加其他字体格式和路径，以便在不同浏览器和设备上兼容 */
}

@font-face {
  font-family: 'CustomFont3';
  src: url('http://localhost:5173/numberGame/Font/supercell-magic_0.ttf') format('truetype');
  /* 添加其他字体格式和路径，以便在不同浏览器和设备上兼容 */
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  overflow: hidden;
}

body{
  margin: 0;
  font-size: 14px;
  line-height: inherit;
  overflow: hidden;
}

a {
  text-decoration: none;
}

*, ::after, ::before {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
  margin: 0;
}

p{
  text-align: left;
}